<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logPrefix" value="dao."/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启二级缓存，默认是false -->
        <setting name="cacheEnabled" value="false"/>
    </settings>
</configuration>