<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwhy.dao.StudentDao">
	<resultMap id="BaseResultMap" type="com.wwhy.entity.StudentEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="DATE" />
		<result column="sex" property="sex" jdbcType="TINYINT" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="college" property="college" jdbcType="VARCHAR" />
		<result column="major" property="major" jdbcType="VARCHAR" />
		<result column="nationality" property="nationality" jdbcType="VARCHAR" />
		<result column="entrance_date" property="entranceDate" jdbcType="DATE" />
		<result column="student_type" property="studentType" jdbcType="TINYINT" />
		<result column="identity" property="identity" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List" >
		id,name,password,code,birthday,sex,nation,college,major,nationality,entrance_date,student_type,identity,phone,native_place,status
	</sql>
	<!-- 根据ID查询数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from student
		where id = #{id,jdbcType=BIGINT}
	</select>
	<!-- 根据条件查询数据 -->
	<select id="selectAll" resultType="com.wwhy.entity.StudentEntity" parameterType="com.wwhy.entity.StudentEntity">
		select
		<include refid="Base_Column_List" />
		from student
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=BIGINT}
			</if>
			<if test="name != null and name.length() > 0">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="code != null and code.length() > 0">
				and code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday,jdbcType=DATE}
			</if>
			<if test="sex != null">
				and sex = #{sex,jdbcType=TINYINT}
			</if>
			<if test="nation != null and nation.length() > 0">
				and nation = #{nation,jdbcType=VARCHAR}
			</if>
			<if test="college != null and college.length() > 0">
				and college = #{college,jdbcType=VARCHAR}
			</if>
			<if test="major != null and major.length() > 0">
				and major = #{major,jdbcType=VARCHAR}
			</if>
			<if test="nationality != null and nationality.length() > 0">
				and nationality = #{nationality,jdbcType=VARCHAR}
			</if>
			<if test="entranceDate != null">
				and entrance_date = #{entranceDate,jdbcType=DATE}
			</if>
			<if test="studentType != null">
				and student_type = #{studentType,jdbcType=TINYINT}
			</if>
			<if test="identity != null and identity.length() > 0">
				and identity = #{identity,jdbcType=VARCHAR}
			</if>
			<if test="phone != null and phone.length() > 0">
				and phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="nativePlace != null and nativePlace.length() > 0">
				and native_place = #{nativePlace,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
    <select id="selectForLogin" resultType="com.wwhy.entity.StudentEntity">
		select
		<include refid="Base_Column_List" />
		from student
		where name = #{name,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
	</select>
    <!-- 根据ID删除数据 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
		delete from student where id = #{id,jdbcType=BIGINT}
	</delete>
	<!-- 添加记录 -->
	<insert id="insert" parameterType="com.wwhy.entity.StudentEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into student (
			name,
			password,
			code,
			birthday,
			sex,
			nation,
			college,
			major,
			nationality,
			entrance_date,
			student_type,
			identity,
			phone,
			native_place
		) values(
			#{name,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{birthday,jdbcType=DATE},
			#{sex,jdbcType=TINYINT},
			#{nation,jdbcType=VARCHAR},
			#{college,jdbcType=VARCHAR},
			#{major,jdbcType=VARCHAR},
			#{nationality,jdbcType=VARCHAR},
			#{entranceDate,jdbcType=DATE},
			#{studentType,jdbcType=TINYINT},
			#{identity,jdbcType=VARCHAR},
			#{phone,jdbcType=VARCHAR},
			#{nativePlace,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 添加不为空的记录 -->
	<insert id="insertSelective" parameterType="com.wwhy.entity.StudentEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="nation != null">
				nation,
			</if>
			<if test="college != null">
				college,
			</if>
			<if test="major != null">
				major,
			</if>
			<if test="nationality != null">
				nationality,
			</if>
			<if test="entranceDate != null">
				entrance_date,
			</if>
			<if test="studentType != null">
				student_type,
			</if>
			<if test="identity != null">
				identity,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="nativePlace != null">
				native_place,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=DATE},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=TINYINT},
			</if>
			<if test="nation != null">
				#{nation,jdbcType=VARCHAR},
			</if>
			<if test="college != null">
				#{college,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				#{major,jdbcType=VARCHAR},
			</if>
			<if test="nationality != null">
				#{nationality,jdbcType=VARCHAR},
			</if>
			<if test="entranceDate != null">
				#{entranceDate,jdbcType=DATE},
			</if>
			<if test="studentType != null">
				#{studentType,jdbcType=TINYINT},
			</if>
			<if test="identity != null">
				#{identity,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="nativePlace != null">
				#{nativePlace,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 根据ID修改不为空的数据 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wwhy.entity.StudentEntity" >
		update student
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=DATE},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=TINYINT},
			</if>
			<if test="nation != null">
				nation = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="college != null">
				college = #{college,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				major = #{major,jdbcType=VARCHAR},
			</if>
			<if test="nationality != null">
				nationality = #{nationality,jdbcType=VARCHAR},
			</if>
			<if test="entranceDate != null">
				entrance_date = #{entranceDate,jdbcType=DATE},
			</if>
			<if test="studentType != null">
				student_type = #{studentType,jdbcType=TINYINT},
			</if>
			<if test="identity != null">
				identity = #{identity,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="nativePlace != null">
				native_place = #{nativePlace,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- 根据ID修改数据 -->
	<update id="updateByPrimaryKey" parameterType="com.wwhy.entity.StudentEntity" >
		update student set
			name = #{name,jdbcType=VARCHAR},
			code = #{code,jdbcType=VARCHAR},
			birthday = #{birthday,jdbcType=DATE},
			sex = #{sex,jdbcType=TINYINT},
			nation = #{nation,jdbcType=VARCHAR},
			college = #{college,jdbcType=VARCHAR},
			major = #{major,jdbcType=VARCHAR},
			nationality = #{nationality,jdbcType=VARCHAR},
			entrance_date = #{entranceDate,jdbcType=DATE},
			student_type = #{studentType,jdbcType=TINYINT},
			identity = #{identity,jdbcType=VARCHAR},
			phone = #{phone,jdbcType=VARCHAR},
			native_place = #{nativePlace,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>